<!--=S 右侧工具栏=-->
<style>
    .fixed-bar-content {
        position: fixed;
        right: 0;
        top: 0;
    }

    .fixed-bar-mod {
        width: 75px;
        height: 100%;
        min-height: 700px;
        background-color: #c9c9c9;
    }

    .fixed-bar-mod .link.cur,
    .fixed-bar-mod .link:hover {
        background-color: #da1515;
    }

</style>
<div id="J_fixedBar" class="fixed-bar-content">
    <div class="fixed-bar-mod">
        <div class="bar-hd"></div>
        <div class="bar-bd"></div>
        <div class="bar-ft"></div>
    </div>
</div>
<!--=E 右侧工具栏=-->