<!--=S 头部=-->
<div class="header">
    <div class="layout">
        <h1 id="logo" class="logo">
            <a href="#"><img src="../images/logo.png"></a>
        </h1>
        <nav>
            <a href="#" target="_blank" class="on">1</a>
            <a href="#" target="_blank">2</a>
            <a href="#" target="_blank">3</a>
            <a href="#" target="_blank">4</a>
            <a href="#" target="_blank">5</a>
            <a class="phone"><i></i>0571-1212112</a>
        </nav>
    </div>
</div>
<!--=S 头部=-->